---
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../components/ProjectCard.astro';
import meowVideo from '../../../assets/videos/meowVideo.mp4';
import { getCollection } from 'astro:content';

const title = `Tools and automations`;
const tools = (await getCollection('tools')).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout metadata={{ title }}>
  <section class="flex flex-col items-start justify-evenly h-min-screen md:p-16 *:overflow-hidden">
    <h1 class="font-bold text-4xl my-5">My most recent project</h1>
    <div class="w-full h-3/4 flex flex-col md:flex-row gap-5">
      <div class="">
        <video src={meowVideo} autoplay loop class="aspect-video w-full"></video>
      </div>
      <article class="meowData w-full md:w-1/2 flex flex-col gap-5">
        <h2 class="meowTitle">Meow english app.</h2>
        <p>Meow is a web application designed to help people learn and practice their english skills.</p>
        <button class="cssbuttons-io-button">
          visit website
          <a class="icon" href="https://meow-english.vercel.app" target="_blank">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </a>
        </button>
        <a href="/projects/meow-app">More details</a>
      </article>
    </div>
    <div class="w-full grid md:grid-cols-3 justify-center items-center flex-wrap gap-5 mt-52">
      {
        tools.map((tool) => {
          return (
            <Card title={tool.data.title} description={tool.data.description} href={tool.data.link}>
              <img slot="header" src={tool.data.poster} alt={tool.data.title + 'image'} class=""/>
              <a slot="base" href={tool.data.link} target="_blank">Github link</a>
            </Card>
          );
        })
      }
    </div>
  </section>
</Layout>

<style>
  .meowData {
    width: full;
    height: full;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 25px;
      font-weight: 700;
    }

    p {
      text-align: center;
      color: gray;
      width: full;
    }

    button {
      background: #5259ed;
      color: white;
      padding: 0.35em;
      padding-left: 1.2em;
      font-size: 17px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 1.6em -0.6em #5259ed;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3.3em;
      cursor: pointer;

      svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #7b52b9;
      }

      .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
        right: 0.3em;
        transition: all 0.3s;

        &&:hover {
          width: calc(100% - 0.6em);

          svg {
            transform: translateX(0.1em);
          }
        }

        &&:active {
          transform: scale(0.95);
        }
      }
    }

    a {
      font-size: 17px;
      text-decoration: underline;
    }
  }
</style>
